body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.tweet {
	width: 90%;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.avatar img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.tweet-content {
	flex: 1;
	margin-left: 10px;
}

.username {
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 1.2em;
}

.text {
	margin: 5px 0;
	font-size: 1.1em;
}

#crear-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #0160c4;
	color: white;
	cursor: pointer;
	font-size: 1.2em;
}
